$sidebar-width: 200px;

.sidebar {
  display: none;
  width: $sidebar-width;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid $light;

  .nav {
    margin-bottom: 20px;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav-link {
    border-radius: 0;
  }
}

.placeholders {
  padding-bottom: 3rem;

  img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.d-block + main {
  margin-left: $sidebar-width;
}
