$sidebar-width: 200px;

#sidebar {
  display: none;
  width: $sidebar-width;
  min-width: $sidebar-width - 40;
  min-height: 100vh;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;

  .nav-link{
    &.active{
      border: 1px solid $light;
      border-radius: 3px;
    }
  }
}
