<nav id="sidebar" class="navbar navbar-dark bg-dark">
  <%= link_to backstage_root_path, class: "nav-link navbar-brand" do %>
    <%= image_tag('lips.png') %>
    <span>撩我 | 後台</span>
  <% end %>
  <div class="my-2 text-center">
    <ul class="navbar-nav">
      <%= nav_li '對話', backstage_dialogues_path %>
    </ul>
    <ul class="navbar-nav">
      <%= nav_li '回到前台', root_path %>
    </ul>
  </div>
</nav>
