<h1 class="text-center">新增撩妹金句</h1>
<%= link_to backstage_dialogues_path, class: 'btn btn-outline-dark' do %>
  <%= fa_icon 'undo', text: '返回' %>
<% end %>
<%= render 'form' %>
<script type="text/javascript">
  // sidebar link active
  $('#dialogues-new').addClass('active');
</script>
