<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/header' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <main class="container-fluid">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
